.trn {
    background-image: linear-gradient(rgba(76, 0, 138, 0.836)rgba(237, 217, 255, 0.164));
    z-index: 99;
}
#navy{
    background-color: rgb(0, 63, 134);
}
#requirement{
    align-items: center;
    color: whitesmoke;
    font-size:x-large;

}

#cardy{
    margin-top: 20vh;
    /* background-color: rgb(164, 255, 164); */
    background-color: rgb(237, 244, 245);
}